<div class="produtos">
  <div class="subtitulo">
    <h2>Produtos</h2>
    <div class="stick"></div>
  </div>
  <div class="grid">
    <div>
      <div class="display"><img src="../../assets/icones/passeio.svg" alt=""></div>
      <div class="legenda">
        <h2>Passeio</h2>
        <div class="stick"></div>
        <p>Se popularizou na década de 60, quando a Letraset lançou decalques contendo </p></div>
    </div>
    <div>
      <div class="display"><img src="../../assets/icones/esporte.svg" alt=""></div>
      <div class="legenda">
        <h2>Esporte</h2>
        <div class="stick"></div>
        <p>Se popularizou na década de 60, quando a Letraset lançou decalques contendo </p></div>
    </div>
    <div>
      <div class="display"><img src="../../assets/icones/retro.svg" alt=""></div>
      <div class="legenda">
        <h2>Retrô</h2>
        <div class="stick"></div>
        <p>Se popularizou na década de 60, quando a Letraset lançou decalques contendo </p></div>
    </div>
  </div>
  <div style="text-align: center;">
    <p>Clique aqui e veja mais detalhes</p>
    <button style="margin-top: 10px;">
      Produtos
    </button>
  </div>
</div>